<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Website</key>
	<string>https://api.iflab.org/api/v2/</string>
	<key>Verfycode Website</key>
	<string>https://api.netease.im/sms/sendcode.action/</string>
	<key>Paths</key>
	<dict>
		<key>New Lost</key>
		<string>ibistu/_table/module_lost_found</string>
		<key>Update PW</key>
		<string>user/password</string>
		<key>Reset</key>
		<string>user/password?reset=true</string>
		<key>Add Lost Image</key>
		<string>files/ibistu/lost_found/image/</string>
		<key>About</key>
		<string>ibistu/_table/module_about/</string>
		<key>News List</key>
		<string>newsapi/newslist/</string>
		<key>News Detail</key>
		<string>newsapi/newsdetail/</string>
		<key>Bus</key>
		<string>ibistu/_table/module_bus/</string>
		<key>Department</key>
		<string>ibistu/_table/module_department_list/</string>
		<key>Yellow Page</key>
		<string>ibistu/_table/module_yellowpage/</string>
		<key>Yellow Page Channel</key>
		<string>ibistu/_table/module_yellowpage?filter=isDisplay%3D1&amp;offset=1&amp;group=department</string>
		<key>Map</key>
		<string>ibistu/_table/module_map/</string>
		<key>Lost</key>
		<string>ibistu/_table/module_lost_found?limit=10&amp;order=createTime%20desc</string>
		<key>Login</key>
		<string>user/session/</string>
		<key>Register</key>
		<string>user/register/</string>
		<key>Change Password</key>
		<string>user/password/</string>
		<key>Profile</key>
		<string>user/profile</string>
	</dict>
	<key>Verfycode API Key</key>
	<string>1eeb0e254526e</string>
	<key>APIKey</key>
	<string>3528bd808dde403b83b456e986ce1632d513f7a06c19f5a582058be87be0d8c2</string>
	<key>Verfycode App Secret</key>
	<string>02e649c5fbba6d41b4208e1d2b6d95b7</string>
</dict>
</plist>
