<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Website</key>
	<string>http://104.155.211.143/api/v2/</string>
	<key>Verfycode Website</key>
	<string>https://api.netease.im/sms/sendcode.action/</string>
	<key>Paths</key>
	<dict>
		<key>About</key>
		<string>ibistu/_table/module_about/</string>
		<key>News List</key>
		<string>newsapi/newslist/</string>
		<key>News Detail</key>
		<string>newsapi/newsdetail/</string>
		<key>Bus</key>
		<string>ibistu/_table/module_bus/</string>
		<key>Department</key>
		<string>ibistu/_table/module_department_list/</string>
		<key>Yellow Page</key>
		<string>ibistu/_table/module_yellowpage/</string>
		<key>Yellow Page Channel</key>
		<string>ibistu/_table/module_yellowpage?filter=isDisplay%3D1&amp;offset=1&amp;group=department</string>
		<key>Map</key>
		<string>ibistu/_table/module_map/</string>
		<key>Lost</key>
		<string>ibistu/_table/module_lost_found?limit=10&amp;order=createTime%20desc</string>
		<key>Login</key>
		<string>user/session/</string>
		<key>Register</key>
		<string>user/register/</string>
		<key>Change Password</key>
		<string>user/password/</string>
	</dict>
	<key>APIKey</key>
	<string>3528bd808dde403b83b456e986ce1632d513f7a06c19f5a582058be87be0d8c2</string>
	<key>Verfycode API Key</key>
	<string>17dca343d1024</string>
	<key>Verfycode App Secret</key>
	<string>48ee667c95945354c19337dc8a8608d6</string>
</dict>
</plist>
